/* Pagina de FAQ */

.tituloPgFaq {
  text-align: center;
  padding: 3rem;
  font-size: $textfont - 30px;
  background-color: black;
  color: white;
  border-radius: 5%;
  background-image: linear-gradient(to top, black, white);
}

/* Pagina de FAQ */
